.issue-icon {
  margin-right: 0.5em;
}

.issue-icon--open {
  color: #28a745;
}

.issue-icon--closed {
  color: #cb2431;
}

.issue-icon--merged {
  color: #6f42c1;
}

.issue-icon--draft {
  color: #586069 !important;
}