%markdownContent {
  line-height: 1.5;
  font-size: 14px;

  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
  }

  h1, h2 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eaecef;
  }

  h2 {
    font-size: 1.5em;
  }

  p:not(:last-child),
  ul:not(:last-child) {
    margin-bottom: 0.7em;
  }

  ul {
    list-style: disc;
    padding-left: 2em;
  }

  li {
    margin-bottom: 0.3em;
  }

  blockquote {
    border-left: 0.25em solid #dfe2e5;
    color: #6a737d;
    padding: 0 1em;
    margin-bottom: 0.7em;
  }

  // TODO: Proper pre styling
  code {
    background-color: rgba(27,31,35,.05);
    border-radius: 3px;
    font-size: 85%;
    margin: 0;
    padding: .2em .4em;
  }
}