@import "../../styles/variables";

.notification {
  border-bottom: 1px solid #EFEfEf;
  position: relative;
  padding-left: 10px;
  padding: 0.4em 10px;
  line-height: 1.5;
}

.notification:before {
  content: '';
  width: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
}

.notification:focus {
  background-color: #EFEFEF;
  &:before {
    background-color: $highlight-color;
  }
}

.notification__header {
  display: flex;
  align-items: center;
}

.notification__description {
  flex: 1 1 auto;
}

.notification__title {
  font-size: 1em;
  font-weight: 400;
  display: inline-block;
  margin-right: 0.4em;
}

.notification__repo {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  opacity: 0.6;
}

.notification__repoIcon {
  width: 1em;
  margin-right: 0.2em;
}

.notification__content {
  padding: 0.4em 0;
}

.notification__ellipsis {
  text-align: center;
}