@import "../../styles/variables.scss";

.reason-icon {
  margin-right: 0.6em;
  color: #CCC;
  display: inline-block;
  min-width: 20px;
  text-align: center;
}

.reason-icon--highlight {
  color: $highlight-color;
}