@import "../../styles/variables";

.dashboard {
  display: flex;
}

.dashboard__sidebar {
  flex: 0 0 auto;
  min-width: 180px;
}

.dashboard__main {
  flex: 1 1 0;
  overflow-x: auto;
}

@include euiBreakpoint('xs','s') {
  .dashboard {
    flex-direction: column;
  }

  .dashboard__sidebar {
    max-width: none !important;
  }
}
